{{ $sections := partials.IncludeCached "data/sections" page }}
  <table>
    <thead>
      <tr>
          <th>Section</th>
          <th>Support Counterpart</th>
      </tr>
    </thead>
    <tbody>
    {{- range $sections }}
      {{- if .sm }}
      <tr>
          <td>{{ .name }}</td>
          <td>{{ partial "member-by-name" .sm }}</td>
      </tr>
      {{- end }}
    {{- end }}
    </tbody>
</table>
